/* Animación para el título */
@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animación para el texto */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animación para el botón */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 64px;
    width: 65%;
    height: 75vh;
    font-size: 32px;
    color: #fff;    
}

.heroTitle {
    animation: fadeInDown 1s ease-out;
  }
  
  .heroText {
    animation: fadeInUp 1s ease-out 0.5s; /* Retraso de 0.5s */
    animation-fill-mode: both; /* Mantiene el estado final de la animación */
  }

.heroContent{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heroContent h1{
    font-size: 64px;
}

.heroContent p{
    font-size: 32px;
}

.heroButton{
    margin-top: 20px;
    padding: 12px;
    border-radius: 16px;
    background-color: #545454;
    color: #fff;
    font-size: 30px;
    border: 1px solid #f3f3f3;
    text-decoration: none;
    animation: fadeIn 1s ease-out 1s; /* Retraso de 1s */
    animation-fill-mode: both;
}

.heroButton:hover{
    background-color: #f3f3f3;
    color: #545454;
}

@media screen and (max-width: 768px){
    .heroContainer{
        padding-left: 16px;
        width: 100%;
        height: 55vh;
        font-size: 24px;
    }

    .heroContent h1{
        font-size: 40px;
    }

    
    .heroContent p{
        font-size: 24px;
    }
    
}